<div class="card">
  <h1 class="card__title">Todo List</h1>
  @if (isLoading()) {
    <app-loading-spinner [size]="30" text="Loading..." />
  } @else {
    <div class="todo">
      <!-- Левая колонка: список + форма -->
      <div class="todo__left">

        <!-- Фильтр по статусу -->
        <div class="todo__filters">
          <mat-form-field appearance="outline"  class="status-select">
            <mat-select
              [value]="statusFilter()"
              (selectionChange)="statusFilter.set($event.value)" style="font-size: 14px;">
              <mat-option style="font-size: 14px;" [value]="''">All</mat-option>
              <mat-option style="font-size: 14px;" value="InProgress">In Progress</mat-option>
              <mat-option style="font-size: 14px;" value="Completed">Completed</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Список задач -->
        <ul class="todo__list">
          @if (filteredTodos().length > 0) {
            @for (t of filteredTodos(); track t.id) {
              <app-todo-list-item
                [todo]="t"
                [editingId]="editingId() "
                (edit)="startEdit(t.id)"
                (cancel)="cancelEdit()"
                (click)="selectTodo(t)"
                (delete)="onRemove($event)"
                (save)="onUpdate($event)"
                [class.selected]="selectedTodo()?.id === t.id" />
            }
          } @else {
            <li class="todo__empty">No tasks</li>
          }
        </ul>

        <app-todo-create-item (add)="onAdd($event)"></app-todo-create-item>

      </div>

      <!-- правая колонка -->
      @if (selectedTodo()) {
        <div class="todo__description">
          <p class="todo__description-text">
            {{ selectedTodo()!.description }}
          </p>
        </div>
      } @else {
        <div class="todo__placeholder">Choose task</div>
      }
    </div>
  }
</div>