<div class="card">
  <h1 class="title">Todo List</h1>

  @if (isLoading()) {
    <div class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <span>Loading...</span>
    </div>
  } @else {
    @if (todos().length > 0) {
      <ul class="list">
        @for (t of todos(); track t.id) {
          <app-todo-list-item [todo] = "t" (delete)="remove($event)" />
        }
      </ul>
    } @else {
      <p class="empty">No tasks</p>
    }
  }

  <div class="add-row">
    <mat-form-field appearance="outline" class="task-input">
      <input
        matInput
        placeholder="Add your new todo"
        required
        [(ngModel)]="taskText"
        (keyup.enter)="add()"
      />
    </mat-form-field>    
    <app-button
      [title]="'Add'"
      [type] = "'add'"
      (click)="add()"
      [disabled]="isTaskTextEmpty" />
  </div>
</div>