<form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="add">
  <div class="add__field">
    <input type="text" placeholder="Title" formControlName="title" #titleInput />

    @if (!todoForm.get('title')?.value && todoForm.get('title')?.touched) {
      <div class="add__error">Title is required</div>
    }
  </div>

  <div class="add__field">
    <textarea placeholder="Description" formControlName="description"></textarea>
  </div>

  <div class="add__actions">
    <app-button              
      [type]="'add'"
      [disabled]="isTaskEmpty"
      appTooltip="Добавить задачу">
      <i class="bi bi-plus"></i>
      Add
    </app-button>
  </div>
</form>