.button {
  color: #fff;
  padding: 0 12px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  height: 100%;  
}

.button__add {
  background: rgb(1, 117, 1);  
  width: 100px;
  font-size: 18px;
  height: 55px;
}

.button__delete {
  background: rgb(168, 3, 3);
  margin-right: 12px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}